.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	/*max-width: 1536px;*/
	max-width: 640px;
	@media (min-width: 768px) {
		& {
			max-width: 768px;
		}
	}
	text-align: center;
}

.app-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: app-logo-spin infinite 20s linear;
	}
}

.header {
	background-color: #282c34;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.app-link {
	color: #61dafb;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
