/* === Variables === */
/* === Mixins === */
/*
320 - 400px - we are here
400px - Large Phones
568px - Landscape Mobile
768px - Tablet
1024px - Small Desktop (Laptops)
1300px - Normal Desktop
$breakpoint arguments
- phone-large
- phone-land
- tab
- desk-small
- desk-normal
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root font size, 1rem == 10px, 62.5% (16px is the default) */
html {
  font-size: 50%; }
  @media (min-width: 25em) {
    html {
      font-size: 56.3%; } }
  @media (min-width: 35em) {
    html {
      font-size: 56.3%; } }
  @media (min-width: 48em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 64em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 81em) {
    html {
      font-size: 75%; } }

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.7;
  color: #041024;
  box-sizing: border-box; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7f7f7;
  height: 100vh; }
  @media (min-width: 81em) {
    .container {
      max-width: 120rem; } }

.u-center-text {
  text-align: center; }

/* === HEADER === */
.header {
  height: 10vh;
  background: #0e387a; }
  @media (min-width: 64em) {
    .header {
      height: 15vh; } }

.heading-primary {
  font-family: 'Courier New', Courier, monospace;
  color: #dfe4ec;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 1.5rem; }

/* === CONTENT === */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem; }
  @media (min-width: 64em) {
    .main-container {
      flex-direction: row;
      padding: 1rem;
      font-size: 1.5rem; } }

.content {
  flex: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .content__form {
    display: flex;
    flex-direction: column; }
    @media (min-width: 64em) {
      .content__form {
        max-width: 50%; } }
    .content__form--inputs {
      display: flex;
      flex-direction: column; }
    .content__form--buttons {
      display: flex;
      gap: 1rem;
      margin: 1rem 0; }
  @media (min-width: 64em) {
    .content__list {
      max-width: 50%; } }

button {
  padding: 0.5rem 1rem; }

input {
  height: 3rem;
  font-size: 1.5rem; }

textarea {
  font-size: 1.5rem;
  max-width: 100%;
  height: 15rem; }
